name: Tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  unit-tests:
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: true
      self-hosted-runner-label: "edge"
      with-uv: true
  docs-checks:
    uses: canonical/operator-workflows/.github/workflows/docs.yaml@main
    secrets: inherit
    with:
      linkcheck-fail-on-error: false
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: true
      self-hosted-runner-label: "edge"
      juju-channel: '3/stable'
      provider: 'lxd'
      with-uv: true
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
